h3,
span,
p {
  margin: 0;
  padding: 0;
}

button {
  margin-top: 10px;
  width: 100px;
}

label {
  margin-bottom: 10px;
}

.frame {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 150px;
  /* border: 1px solid black; */
}

.input {
  width: 200px;
}

.contacts {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
